<div class="l-box">
  <ul>
    <span class="loc-sep l-size">|</span>
    <% @categories.each do |category| %>
      <li class="c-list">
        <%= link_to category, category_path(location: @location, category: category), class: ((@category == category) ? "selected" : "")%>
        <span class="loc-sep l-size">|</span>
      </li>
    <% end %>
  </ul>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li>
        <h3><%= link_to restaurant.name, restaurant_path(restaurant)%><h3>
      </li>
    <% end %>
  </ul>

  <div class="loc-sep">
    <i><%= link_to 'back', root_path%></i>
  </div>
</div>